<form action="" method="POST" >
    <input type="text"  placeholder="nhập vào đây" name="value">
    <input type="text"  placeholder="nhập vào đây" name="q">
    <input type="text"  placeholder="nhập vào đây" name="r">
    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
</form>